.loginContainer {
    width: 500px;
    padding: 10px 20px;
    margin: 100px auto;
    height: 100%;
    text-align: center;
}

.avatarStyleLogin {
    background-color: deeppink !important;
    margin: 10px auto;
}

.loginFooter {
    text-align: center;
    margin-top: 100px;
}

.signupLink {
    text-align: left;
    margin: 10px 0;
}